<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='../public/css/thermostat_style.css' type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <title>Thermostat</title>
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../src/thermostat.js"></script>
    <script src="../src/interface.js"></script>
  </head>

  <body>
    <div class='thermostat-border'>
    <div class='thermostat'>
      <div class='display'>
        <div class='left-display'>
          <p id='message'>
            Maximum temperature reached
          </p>
          <p class='temperature'>
            17
          </p>
        </div>
        <div class='right-display'>
          <p id='PSM-status' class='visible'>
            Powersaving mode
          </p>
          <p class='usage'>
            Energy usage
          </p>
        </div>
      </div>
      <div class='controls'>
        <div class='left-controls'>
          <div id='up'>
            <button type="button" name="up"></button>
          </div>
          <div id='down'>
            <button type="button" name="down"></button>
          </div>
        </div>
        <div class='right-controls'>
          <div class='reset'>
            <button type="button" name="reset"></button>
          </div>
          <div id='PSM'>
            <button type="button" name="Powersaving Mode"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
