<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='../public/css/thermostat_style.css' type="text/css" rel="stylesheet">
    <title>Thermostat</title>
    <script src="../src/thermostat.js"></script>
  </head>

  <body>
    <div class='thermostat'>
      <div class='display'>
        <div class='left-display'>
          <div class='message'>
          </div>
          <div class='temperature'>
          </div>
        </div>
        <div class='right-display'>
          <div class='PSM-status'>
          </div>
          <div class='usage'>
          </div>
        </div>
      </div>
      <div class='controls'>
        <div class='left-controls'>
          <div class='up'>
          </div>
          <div class='down'>
          </div>
        </div>
        <div class='right-controls'>
          <div class='reset'>
          </div>
          <div class='PSM'>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
