body {
  display: flex;
  background-color: #464749;
  justify-content: center;
}
.thermostat-border {
  margin-top: 100px;
  height: 500px;
  width: 500px;
  background-image: url("http://www.backgroundsy.com/file/large/silver-background.jpg");
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thermostat {
  height: 430px;
  width: 430px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.display {
  height: 180px;
  width: 300px;
  margin-top: 16%;
  margin-bottom: 4%;
  display: flex;
  color: red;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.left-display {
  width: 200px;
  display: flex;
  align-items: center;
}
.right-display {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.controls {
  width: 210px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.right-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button {
  height: 40px;
  width: 80px;
  margin: 5px;
  border-radius: 15%;
  border: 2px solid white ;
  background-color: black;
  font-size: 14pt;
  color: white;
}

button:hover {
  color: red;
  border-color: red;
}

.visible {
  color: red;
}
.hidden {
  color: black;
}

.temperature {
  font-size: 60pt;
}

.deg {
  font-size: 60pt;
}

button:focus {outline:0;}

.energy {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 20px;
  margin-bottom: 10px;
  color: red;
}

.elabel {
  width: 100px;
  font-size: 12pt;
}

.ebar {
  height: 20px;
  background-color: yellow;
  width: 50px;
}
